name: create release

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
        description: The branch to release
      version:
        required: true
        type: string
        description: The version of the release
      body:
        required: true
        type: string
        description: The body of the release
      prerelease:
        required: false
        default: false
        type: boolean
        description: Whether the release is a prerelease

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          name: ${{ inputs.version }}
          tag: ${{ inputs.version }}
          body: ${{ inputs.body }}
          commit: refs/heads/${{ inputs.branch }}
          prerelease: ${{ inputs.prerelease == 'prereleased' }}
