name: create branch

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: The version of the release

jobs:
  branch:
    runs-on: ubuntu-latest
    env:
      BRANCH: releases/${{ inputs.version }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: setup git config
        run: |
          git config user.name "GitHub Action"
          git config user.email "github-action@users.noreply.github.com"

      - name: guarantee branch doesn't exist
        run: |
          if git ls-remote --exit-code --heads origin ${BRANCH} ; then 
            exit 1
          else
            exit 0
          fi

      - name: install dependencies
        run: |
          npm install

      - name: build
        run: npm run build

      - name: create branch
        run: |
          git checkout -b ${BRANCH}
          sed -i '/lib/d' ./.gitignore
          git add .
          git commit -m "build"
          git push origin ${BRANCH}
