name: release # for releasing action-release-workflow project

on:
  push:
    branches:
      - main
    paths:
      - CHANGELOG.md
  workflow_dispatch:

jobs:
  changelog:
    uses: ./.github/workflows/extract_changelog.yaml
    with:
      changelogPath: ./CHANGELOG.md
  checkVersion:
    needs: changelog
    runs-on: ubuntu-latest
    outputs:
      exists: ${{ steps.tag-exists.outputs.exists }}
    steps:
      - name: check if tag exists
        uses: mukunku/tag-exists-action@5c39604fe8aef7e65acb6fbcf96ec580f7680313 # v1.7.0
        id: tag-exists
        with:
          tag: ${{ needs.changelog.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  createRelease:
    needs: [checkVersion, changelog]
    permissions:
      contents: write
    if: needs.checkVersion.outputs.exists == 'false'
    uses: ./.github/workflows/create_release.yaml
    with:
      branch: ${{ github.ref }}
      version: ${{ needs.changelog.outputs.version }}
      body: ${{ needs.changelog.outputs.body }}
